@use "../utilities/" as *;
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  background: var(--white);
  color: var(--ebony-clay);
}

h1,
h2,
h3,
p {
  margin: 0;
  text-align: center;

  @include breakpoint-up(large) {
    text-align: left;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.has-shadow {
  box-shadow: 0 75px 100px -50px var(--light-mirage);
}

.hide-on-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}
