@use "../utilities/" as *;

.wrapper {
  display: grid;
  grid-template-columns: rem(24) 1fr rem(24);

  > * {
    grid-column: 2 / span 2;
  }

  > .fullbleed {
    grid-column: 1 / -1;
  }

  @include breakpoint-up(medium) {
    grid-template-columns: 1fr min(100% - rem(80), rem(1110)) 1fr;
  }
}
